<div>
  <p class="text-gray-600 dark:text-gray-300 mb-4" i18n="@@tokenScopesIntro">
    To connect, generate a Personal Access Token with the following scopes:
  </p>
  <ul class="list-disc list-inside text-sm text-gray-600 dark:text-gray-300 mb-4">
    @switch (provider().type) {
      @case ('github') {
        <li i18n="@@githubScopes">repo, read:user</li>
      }
      @case ('gitlab') {
        <li i18n="@@gitlabScopes">api, read_user</li>
      }
      @case ('bitbucket') {
        <li i18n="@@bitbucketScopes">repository, account</li>
      }
    }
  </ul>
  <p class="text-sm text-gray-500 dark:text-gray-400 mb-4">
    <span i18n="@@getTokenHere">Get your token here:</span> {{ provider().tokenHint }}
  </p>
</div>